<h1>Listing sys_ops</h1>

<table>
  <tr>
    <th>Start time column</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sys_ops.each do |sys_op| %>
  <tr>
    <td><%= sys_op.start_time_column %></td>
    <td><%= sys_op.title %></td>
    <td><%= link_to 'Show', sys_op %></td>
    <td><%= link_to 'Edit', edit_sys_op_path(sys_op) %></td>
    <td><%= link_to 'Destroy', sys_op, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sys op', new_sys_op_path %>
