<p id="notice"><%= notice %></p>

<p>
  <b>Start time column:</b>
  <%= @sys_op.start_time_column %>
</p>

<p>
  <b>Title:</b>
  <%= @sys_op.title %>
</p>


<%= link_to 'Edit', edit_sys_op_path(@sys_op) %> |
<%= link_to 'Back', sys_ops_path %>
